.nav {
  overflow: hidden;
  background-color: #db0000;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin-top: 15rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14%;
}
